<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andre.androidapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.andre.androidapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.andre.androidapp.SimpleThreadActivity"/>
        <activity android:name="com.andre.androidapp.AsyncTaskActivity"/>
        <activity android:name="com.andre.androidapp.ServiceActivity"/>
        
        <service android:name="com.andre.androidapp.util.OnDemandData" android:label="Demo User Data Service Intent"></service>
        <service android:name="com.andre.androidapp.util.UserDataService" android:label="Demo User Data Service"></service>
        <service android:name="com.andre.androidapp.util.UserDataServiceForeground" android:label="Demo User Data Service"></service>
        
    </application>

</manifest>